@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body{
  background-color: black;
  height: 10000vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-text {
    @apply hover:bg-lime-600 hover:text-white hover:rounded-full transition-all duration-300 ease-in-out;
  }
}